<h2><%= (@article.new_record?) ? "New" : 'Editing' %> Article for <%= @article.channel.name -%> Channel</h2>
<% if params[:preview] -%>
  <div id="preview-container" class="article-preview">
    <h3>Preview</h3>
    <% @article.data_values.each do |data_value| -%>
      <p><%= data_value.filtered_value %></p>
    <% end -%>
    <a href="#" onclick="document.getElementById('preview-container').style.display='none';return false;">Close Preview</a>
  </div>
<% end -%>

<%= error_messages_for :article %>

<% form_for @article, :url => (@article.new_record?) ? admin_articles_path : admin_article_path(@article) do |f| %>
  <div id="article-fields" class="span-12 last">
    <%= check_box_tag 'preview_option', 1, false, :style => 'display:none' %>
    <%= f.hidden_field :channel_id %>
	  <p class="group">
	    <%= f.label :title %><br/>
      <%= f.text_field :title, :size => "50", :onkeyup => "jeweli.admin.updateSlug();" %>
	  </p>
	  <p class="group">
      <%= f.label :slug, "Title in the url" %><br/>
      <%= f.text_field :slug, :size => "50" %><br/>
      <span class="note">Also known as the "slug". Leave blank to have it generated for you</span>
	  </p>
  	<% f.fields_for :data_values do |data_value_fields| %>
  	  <%= data_value_fields.hidden_field :data_field_id %>
  	  <div class="data-value-title-area">
    	  <%= data_value_fields.label :data_value, data_value_fields.object.data_field.label  %>
    	  <% if data_value_fields.object.data_field.data_field_type_id == 1 %>
    	      <%= data_value_fields.text_field :data_value %>
        	</div> <!-- .data-value-title-area -->
    	  <% else %>
    	    <div class="formatting-options">
    	      Format: <%= data_value_fields.collection_select :filter_id, Filter.find(:all), :id, :name, :include_blank => 'None' %>
    	    </div>
    	    </div> <!-- .data-value-title-area -->
    	    <div class="text-field">
    	      <%= data_value_fields.text_area :data_value, :size => "60x10", :class => 'rich-edit-text' %>
    	    </div>
    	  <% end -%>
  	<% end%>  
  </div>
  <div id="article-options" class="prepend-2 span-10 last">
	<h3>Article Options</h3>
  	<fieldset>
  			<fieldset>
  				<legend>Categories</legend>	
  				<% if @article.channel.categories.length != 0 %>
  				    <ul>
  				      <% @article.channel.categories.each do |category| -%>
  			  	      <li>
  			  	        <%= check_box_tag "article[category_ids][]", category.id, @article.categories.include?(category), :id => "article_category_#{category.id}" -%>
  			  	        <%= label_tag "article_category_#{category.id}", category.name %>
  			  	      </li>
  				      <% end -%>
  			      	</ul>
  				<% else %>
  					No categories have been created to assign. You can create a 
  				<% end %>
  				<%= link_to 'New Category', new_admin_category_path(:channel_id => @article.channel) %>
  			</fieldset>

			<fieldset>
				<legend>Comments</legend>
				<div class="group">
				<!-- comments enabled? -->
  				<%= f.check_box :comments_enabled %><label for="article_comments_enabled">Comments Enabled?</label>				
				</div>
			</fieldset>

			<fieldset>
				<legend>Authorship</legend>
				<div class="group">
  				<!-- author -->
				<label for="article_author_id">Author:</label> 
				<%= f.collection_select :author_id, User.find(:all), :id, :name %>				
				</div>
				
				<div class="group">
				<!-- is published? -->
  		    	<%= f.check_box :is_published %><label for="article_is_published">Published</label>
				</div>
			</fieldset>

  	</fieldset>  
  </div>
	<div class="span-6 append-18 last">
		<%= render :partial => "admin/help/hint", :locals => { 
			:topic => "Like a draft?",
			:hint => "<p>Then just uncheck <strong>published</strong> in Options to <strong>save this as a draft</strong>.</p>"
			} 
		-%>
	</div>
	<div class="span-24 last">	  
	  <%= f.submit 'Preview', :onclick => "document.getElementById('preview_option').checked=true;return true;" %>
	  <%= f.submit 'Commit', :onclick => "return true;"%> 	
	</div>
<% end -%>