<h2><%= (@article.new_record?) ? "New" : 'Editing' %> Article for <%= @article.channel.name -%> Channel</h2>
<% if params[:preview] -%>
  <div id="preview-container" class="article-preview">
    <h3>Preview</h3>
    <% @article.data_values.each do |data_value| -%>
      <p><%= data_value.filtered_value %></p>
    <% end -%>
    <a href="#" onclick="document.getElementById('preview-container').style.display='none';return false;">Close Preview</a>
  </div>
<% end -%>

<%= error_messages_for :article %>

<% form_for @article, :url => (@article.new_record?) ? admin_articles_path : admin_article_path(@article) do |f| %>
  <div id="article-fields" class="span-12 append-12 last">
    <%= check_box_tag 'preview_option', 1, false, :style => 'display:none' %>
    <%= f.hidden_field :channel_id %>
    <p>
      <label for="article_title">Title</label><br/>
      <%= f.text_field :title, :size => "50", :onkeyup => "jewely.admin.updateSlug();" %>
    </p>
    <p>
      <label for="article_slug">Title in the url</label><br/>
      <%= f.text_field :slug, :size => "50" %><br/>
      <span class="note">Also known as the "slug". Leave blank to have it generated for you</span>
    </p>
    <p>
      <% fields_for :data_values do |data_values| -%>
    
        <% @article.channel.data_fields.each do |data_field| -%>
    
          <label><%= data_field.label %></label><br/>
      
          <% if data_field.data_field_type_id == 1 -%>
            <%= data_values.text_field data_field.id, :value => @article.value_for(data_field.label) -%>
          <% else -%>
            Filter: 
            <%= collection_select "filters", 
                                  data_field.id, 
                                  Filter.find(:all), 
                                  :id, :name, 
                                  :include_blank => 'None', 
                                  :selected => @article.data_values.current_filter_id_for(data_field) -%><br/>
            <%= data_values.text_area data_field.id, :size => "60x10", :class => 'rich-edit-text', :value => @article.value_for(data_field.label, false) %>
          <% end -%>
          <br/>
        <% end -%>
      <% end -%>
    </p>
  </div>
  <div id="article-options" class="span-12 append-12 last">
  	<fieldset>
  		<legend>Options</legend>
  			<fieldset>
  				<legend>Categories</legend>	
  				<% if @article.channel.categories.length != 0 %>
  				    <ul>
  				      <% @article.channel.categories.each do |category| -%>
  			  	      <li>
  			  	        <%= check_box_tag "article[category_ids][]", category.id, @article.categories.include?(category), :id => "article_category_#{category.id}" -%>
  			  	        <%= label_tag "article_category_#{category.id}", category.name %>
  			  	      </li>
  				      <% end -%>
  			      	</ul>
  				<% else %>
  					No categories have been created to assign. You can create a 
  				<% end %>
  				<%= link_to 'New Category', new_admin_category_path(:channel_id => @article.channel) %>
  			</fieldset>
  			<fieldset>
  				<legend>Status</legend>
  				<p><label for="article_author_id">Author:</label> <%= f.collection_select :author_id, User.find(:all), :id, :name %></p>
  				<p><%= f.check_box :comments_enabled %><label for="article_comments_enabled">Comments Enabled?</label></p>
  		    <%= f.check_box :is_published %><label for="article_is_published">Published</label>
  			</fieldset>
  	</fieldset>  
  </div>
  
  <%= f.submit 'Save as Draft', :onclick => "document.getElementById('article_is_published').checked=false; return true;" -%>
  <%= f.submit 'Save and Publish', :onclick => "document.getElementById('article_is_published').checked=true; return true;"%>
  <%= f.submit 'Save and Preview', :onclick => "document.getElementById('preview_option').checked=true;return true;" %>
<% end -%>