<h2>Article Fields</h2>

<% if @data_fields.length != 0 -%>
  <table id="the_list">
    <tr>
      <th>Channel</th>
      <th>Label</th>
      <th>Type</th>
      <th>Format</th>
    </tr>
    <% @data_fields.each do |field| -%>
      <tr>
        <td><%= (field.channel) ? field.channel.name : "Unknown Channel" %></td>
        <td><%= field.label %></td>
        <td><%= field.data_field_type.name %></td>
        <td><%= (field.default_filter) ? field.default_filter.name : 'None' %></td>
        <td><%= link_to 'Edit', edit_admin_data_field_path(field)%> |
            <%= link_to 'Destroy', admin_data_field_path(field), :method => :delete, :confirm => "Are you sure?\n\nThis will destroy all of the values for this field specified on any articles."%></td>
      </tr>
    <% end %>
  </table>
<% else %>
	<p class="no-content">No custom article fields yet.</p>
<% end %>

<%= link_to 'New Article Field', new_admin_data_field_path(:channel_id => params[:channel_id]), :class=>"action-style" %>