<div id="settings-primary" class="span-18 append-1">
<h2>Settings</h2>

	<h3><%= (@user.new_record?) ? "New" : 'Editing' %> User</h3>
  <% @user.password = @user.password_confirmation = nil %>

  <%= error_messages_for :user %>
  <% form_for @user, :url => (@user.new_record?) ? admin_users_path : admin_user_path(@user) do |f| -%>
  <p><%= f.label :login %><br/>
  <%= f.text_field :login %></p>

  <p><%= f.label :name %><br/>
    <%= f.text_field :name %></p>

  <p><%= f.label :email %><br/>
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br/>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation %></p>

  <p><%= submit_tag 'Save' %></p>
  <% end -%>
  
</div>

<div id="settings-menu" class="span-5 last">
	<div id="settings-menu-inner">
	<ul>
		<li id="users-tab"><%= link_to 'Users', admin_users_path %></li>
	</ul>
	</div>
</div>