<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />     
	<link href='/images/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
	<%= javascript_include_tag "admin/jquery.min", "admin/jquery-ui.min", "admin/rails" %>
	<%= javascript_include_tag "admin/cufon", "admin/fonts/DinProMedium_500.font.js", "admin/application", "admin/hints" %>

	<!-- font stuff -->
	<script type="text/javascript">
		Cufon.replace('h1');
		Cufon.replace('h2');
		Cufon.replace('h3');
		Cufon.replace('#nav li'); // Main menu items
		Cufon.replace('#settings-menu ul li a'); // Settings subnav
	</script>
	
	<% if is_mobile? -%>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/> 
		<link rel="apple-touch-icon" href="/images/admin/apple-touch-icon.png"/>
		<%= stylesheet_link_tag "admin/blueprint/src/reset", 
		                        "admin/blueprint/src/typography", 
		                        "admin/blueprint/src/forms" %>
		<%= stylesheet_link_tag "admin/mobile/mreset", 
		                        "admin/mobile/madmin" %>
	<% else -%>
	  <!-- Blueprint CSS assets -->
		<%= stylesheet_link_tag "admin/blueprint/src/reset", 
		                        "admin/blueprint/src/grid", 
		                        "admin/blueprint/src/typography", 
		                        "admin/blueprint/src/forms", 
		                        "admin/blueprint/screen", 
		                        "admin/admin", 
		                        :media => :screen %>
		<!--[if lt IE 8]>
			<%= stylesheet_link_tag "admin/blueprint/ie", :media => :screen %>	
		<![endif]-->	
	  <!-- end Blueprint -->	
	<% end -%>
	<%= stylesheet_link_tag "admin/blueprint/print", :media => :print %>
  <%= yield(:head) -%>
	<title>Jeweli Administration</title>
</head>

<body class="<%= params[:controller].split("/").last -%> <%= params[:action] -%>">
	<% flash.each do |key, msg| %>
	    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
	    <%= content_tag :script, :type => "text/javascript" do -%>
	        setTimeout('$("#notice_<%= key %>").hide("slow")', 5000);
	    <% end %>
	<% end %>	
  <div class="container">
 	<div id="header" class="span-24 last">
  		<h1>
  			<a href="/admin/">Jeweli Admin</a>
  		</h1>
		<hr />
 		<div id="nav" class="group">
    		<ul>
    		  	<li><%= link_to 'New Article', admin_channels_path, :remote => true, :method => :get, :class => "action-style", :id => 'new-post-link', :title => 'Create a new article under a channel' %>
		    	<div id="new-post-channels-list" style="display:none"></div>
				</li>
    			<li><%= link_to 'Articles', admin_articles_path, :class=>"action-style", :id => "articles-nav-item", :title => 'View and edit any articles' %><!-- (<%= link_to '?', '#', :class=>"help-item not-implemented"%>)--></li>
    			<li><%= link_to 'Comments', admin_comments_path, :class=>"action-style", :id => "comments-nav-item", :title => 'View and edit any comments' %><!-- (<%= link_to '?', '#', :class=>"help-item not-implemented"%>)--></li>
    			<li><%= link_to 'Channels', admin_channels_path, :class=>"action-style", :id => "channels-nav-item", :title => 'Edit or add any channels so that you can publish articles to them' %><!-- (<%= link_to '?', '#', :class=>"help-item not-implemented"%>)--></li>
    			<li><%= link_to 'Categories', admin_categories_path, :class=>"action-style", :id => "categories-nav-item", :title => "Add, edit, or delete any channel's categories, which are used to tag your articles" %><!-- (<%= link_to '?', '#', :class=>"help-item not-implemented"%>)--></li>
    			<li><%= link_to 'View Site', root_path, :class => "action-style secondary", :title => 'View your actual site (external link)', :target => "blank" %></li>
    			<li><%= link_to 'Settings', admin_users_path, :class => "action-style secondary", :title => 'Edit settings pertaining to your site like users, vital information, and some server settings' %></li>
    		</ul>
    	</div><!-- navigation -->
  	</div><!-- header -->
<hr/>
  		<div id="content" class="span-24 last">
  		  <%= yield %>
  		</div><!-- content -->
     	<%= yield(:above_footer) %>
		<hr/>
  		<div id="footer" class="span-24 last">
  			<span class="admin-info">Hi, <%= current_user.name -%> [<%= link_to 'Logout', logout_path %>]</span> <span class="separator">|</span> <span class="about">Copyright &copy; <a href="http://www.jewelicms.com">Jeweli CMS</a>, <%= DateTime.now.year %></span> <span class="separator">|</span> <h3>Jeweli CMS</h3>
  		</div><!-- footer -->
  </div><!-- container -->

</body>
</html>
